body {
    width: 80%;
    margin: 0 auto; /*centers body*/
    background-color:#faf1f0;
    font-family: Georgia, serif;;
    }
   
   figure {
    text-align: center;
    
    margin: 0 auto; /*centers body*/
    margin-top: 10px;
    margin-bottom:10px;
   }
   
   section {
   padding-left: 40px;
   padding-right: 40px;
   margin-bottom:20px;
   }
   
   header {
   height: 100px;
   margin-bottom: 50px;
   margin-top: 40px;
  
   }
   
   h1, h2, h3 {
     font-family: 'Courier New', monospace;
   }
  
   
  /*h2 span {
   font-size: small; 
  }*/
   
   ul {
     padding-left: 18px;
   }
  
  /* It only applies to the list items that are the pages */
  section>ol>li {
      margin-bottom: 15px;
  }
  section>ul>li {
    list-style-type:circle;
    
}
  
  .title{
      display: block;  
      margin-bottom: 10px;
  }
   
   footer {
   margin-top: 100px;
   font-size: 12px;
   
   }