body {
    width: 80%;
    height: 90%;
    margin: 0 auto; /*centers body*/
    background-color:#faf1f0;
    font-family: Georgia, serif;;
    }

   figure {
    text-align: center;
    margin: 0 auto; /*centers body*/
    margin-top: 10px;
    margin-bottom:10px;
   }

   section {
   padding-left: 40px;
   padding-right: 40px;
   margin-bottom:20px;
   }

   h1, h2, h3 {
     font-family: Georgia, serif;

   }
   p {
    text-decoration: none;
    color: grey;
    font-size: 1rem;
    transition: all 500ms;
   }

   .abouth1 {
    font-weight: lighter;
    text-align: center;
    display:block;
    margin-right: 10%;
   }

   .aboutbox {
     width: 100%;
     min-height: 40ch;
     padding: 20px;
     margin: 5% 0% 0% 0%;
     height: 400%;
     background-color: white;
     position: relative;
   }

   .aboutbar {
    width: 115px;
    height: 90%;
    margin-bottom: 5%;
    background-color: #faf1f0;
    display: inline-block;
    position:absolute;
    line-height: 2.2;

   }

   .aboutbar a {
     text-decoration: none;
     color: black;
     margin-top: 10%;
     margin-left: 5%;


   }
   a.headerlink:hover{
    font-size: 140%;
  }

  .aboutbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }


   hr {
     background-color: grey;
     border: none;
     height: 0.8px;
   }

   .productText {
    width: 50%;
    padding: 20px;
    margin: 20px;
    height: 50%;
    font-weight: lighter;
    text-align: left;
    margin: auto;
    line-height: 1.7;
   }


   ul {
     padding-left: 18px;
   }

  /* It only applies to the list items that are the pages */
  section>ol>li {
      margin-bottom: 15px;
  }
  section>ul>li {
    list-style-type:circle;
}

  .title{
      display: block;
      margin-bottom: 10px;
  }
  .header{
    height: 18ch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#faf1f0;

  }
  .left-header{
    width: 22%;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  .center-header{
    width: 50%;

  }
  .right-header{
    width: 22%;
    height: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;

  }
  .headerlink{
    text-decoration: none;
    color: grey;
    font-size: 1.3rem;
    transition: all 500ms;
  }
  .logo{
    max-width: 400px;
  }

   footer {
    width: 130%;
    background-color: #B49D9D;
    position: relative;
    margin: 0% 0% 2% -15%;
    text-align: center;
   }

   .footerpic {
    width: 150px;

   }

/* ContactUs */
div.shoppingcartHeader{
  display: flex;
  justify-content: center;
  margin: 3ch;
  font-size: x-large;
  color: grey;

}
.cartContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:#faf1f0;
  margin: 2ch;
 }
 .productImageCart{
  margin: 2ch;
 }
 .productInformation{
  margin: 5ch;
  height: 18ch;
  width: 30ch;
  padding-top: 5px;
 }
 .adjustProductContainer{
  margin-left: 20ch;
  padding: 2ch;
  height: 20ch;
  width: 30ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }
 .itemsAmount{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1ch;

  width: 16ch;
  justify-content: space-between;
 }

 .plusminusBtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: ‘Open Sans’;
  font-weight: 900;
  color: #202020;
  cursor: pointer;
 }

.checkout{
  display: flex;
  flex-direction: column;
  min-height: 18ch;
  margin: 5ch;
}
.price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sum{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 10ch;
}

hr.calculation{
  border: 0.1px grey solid;
  width: 102ch
}
button.checkoutBtn{
  border: #B49D9D solid 2.5px;
  border-radius: 3ch;
  width: 40ch;
  height: 8ch;
  background-color: white;
}
.checkoutBtnContainer{
  width: 100ch;
  height: 6ch;
  display: flex;
  justify-content:flex-end;
  align-items: baseline;
  margin-top: 4ch;
}

.infoBox img{
  height: 30px;
  margin: 20px 0 20px 0;
  display: inline-block;
}




/* ContactScheme */

#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: black;
  background-color: #B49D9D;
  border-color: #B49D9D;
}

.fcf-btn-primary:hover {
  color: black;
  background-color: #B49D9D;
  border-color: #faf1f0;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: black;
  background-color: #B49D9D;
  border-color: #B49D9D;
  box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}

/* /ContactScheme */


/* ContactUs */

.iconBox{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 60px;
  margin-left: 100px;
}

.borderBox{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 100px;
}

.linkIcons img{
  height: 30px;
  margin: 0 20px 0 20px;
}

#contBorder p{
  color: rgb(180, 177, 177);
}

.contInfo{
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-bottom: 30px;
}

.contInfoLR{
  padding: 20px;
  width: 50%;
  max-width: 350px;
}

.infoBox{
  text-align: center;
}

.infoBox p{
  text-align: left;
}

.infoBox button{
  text-align: center;
  background-color: black;
  color: white;
  padding: 12px 30px;
  font-size: 13px;
  border: none;
}
.infoBox button:hover{
  background-color: grey;
}

.infoBox img{
  height: 30px;
  margin: 20px 0 20px 0;
  display: inline-block;
}


/* /ContactUs*/



* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}











/* /ContactUs */

/* Shop */
#checkboxes {
  position: relative;
  width: 20%;
  margin-top: 70px;
}

#checkboxes .checkboxContainer {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

#shopContainer {
  position: relative;
  display: inline-flex;
  width: 100%;
}

.shopCategories {
  position: relative;
  margin-top: 70px;
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: 0%;

  text-align: justify;
  text-justify: distribute-all-lines;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.categoryLink {
  position: relative;
  color: #9e6a64;
  text-decoration: none;
  width: 190px;
  height: 255px;

  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;

  margin: 20px;

  visibility: visible;
}

.categoryLink:hover {
  font-size: initial;
}

.categoryLink img {
  position: relative;
  width: 100%;
  height: 100%;
}

.shopCategoryDisplay {
  position: absolute;
  background-color: rgba(222, 196, 196, 0.8);
  width: 100%;
  height: 40%;
  top: 60%;

  text-align: center;
  line-height: 4;
}

.priceTag {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 40%;
  top: 60%;

  text-align: center;
  line-height: 9;
}

.shopPopup {
  position: absolute;
  background-color: white;
  width: 40%;
  height: 20%;
  left: 30%;
  top: 45%;
}

.shopPopup button {
  position: relative;
  height: 100%;
  background-color: #B49D9D;
  color: #3e3838;;
  border: none;
  font: inherit;
}

.shopPopup button:active {
  background-color: #a28989;
}

#shoppingCounter {
  position: absolute;
  background-color: #a28989;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-left: 20px;
  margin-top: -6px;
  text-align: center;
  font-size: 10px;
  line-height: 1.3;

}
/* /Shop */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* HomePageInfoBox */

.storyBox{
  border: #d1b7b7 10px solid;
  margin-top: 20px;
  padding: 10px;
  background-color: #a28989;
  text-align: center;
  
}

.HPHeader{
  margin-top: 20px;
  font-weight: lighter;
  text-align: center;
  display:block;
  color: white;
  font-size: xx-large;
}

.HPText{
  font-weight: lighter;
  text-align: center;
  display:block;
}

.HPBtn{
  display: inline-block;
  font-weight: 400px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  border-color: #d1b7b7;
  background-color: #e6c7c7;
  font-size: large;
}



/* /HomePageInfoBox */