body {
    width: 80%;
    height: 90%;
    margin: 0 auto; /*centers body*/
    background-color:#faf1f0;
    font-family: Georgia, serif;;
    }
   
   figure {
    text-align: center;
    margin: 0 auto; /*centers body*/
    margin-top: 10px;
    margin-bottom:10px;
   }
   
   section {
   padding-left: 40px;
   padding-right: 40px;
   margin-bottom:20px;
   }
   
   h1, h2, h3 {
     font-family: Georgia, serif;
     
   }
  
   .abouth1 {
    font-weight: lighter;
    text-align: center;
    display:block;
    margin-right: 10%;
   }
   
   .aboutbox {
     width: 100%;
     padding: 20px;
     margin: 5% 0% 0% 0%;
     height: 400%;
     background-color: white;
     position: relative;
   }

   .aboutbar {
    width: 100px;
    height: 90%;
    margin-bottom: 5%;
    background-color: #faf1f0;
    display: inline-block;
    position:absolute;
  
    line-height: 2.2;
    
   }

   .aboutbar a {
     text-decoration: none;
     color: black;
     margin-top: 10%;
     margin-left: 5%;

     
   }
   a:hover{
    font-size: 105%;
  }


   hr {
     background-color: grey;
     border: none;
     height: 0.8px;
   }

   .productText {
    width: 50%;
    padding: 20px;
    margin: 20px;
    height: 50%;
    font-weight: lighter;
    text-align: left;
    margin: auto;
    line-height: 1.7;
   }

   
   ul {
     padding-left: 18px;
   }
  
  /* It only applies to the list items that are the pages */
  section>ol>li {
      margin-bottom: 15px;
  }
  section>ul>li {
    list-style-type:circle;  
}
  
  .title{
      display: block;  
      margin-bottom: 10px;
  }
  .header{
    height: 18ch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#faf1f0;

  }
  .left-header{
    width: 22%;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  .center-header{
    width: 50%;

  }
  .right-header{
    width: 22%;
    height: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;

  }
  .headerlink{
    text-decoration: none;
    color: grey;
    font-size: 1.3rem;
    transition: all 500ms;  

  
  }
  .logo{
    max-width: 400px;
  }
   
   footer {
    width: 130%;
    background-color: #B49D9D;
    position: relative;
    margin: 0% 0% 2% -15%;
    text-align: center;
   }

   .footerpic {
    width: 150px;

   }

/* ContactUs */

.iconBox{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 60px;
  margin-left: 100px;
}

.borderBox{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 100px;
}

.linkIcons img{
  height: 30px;
  margin: 0 20px 0 20px;
}

#contBorder p{
  color: rgb(180, 177, 177);
}


.contInfo{
  display: flex;
  justify-content: center;
  margin-left: 120px;
  margin-bottom: 30px;
}

.contInfoLR{
  padding: 20px;
  width: 50%;
  max-width: 350px;
}

.infoBox{
  text-align: center;
}
.infoBox p{
  text-align: left;
}
.infoBox button{
  text-align: center;
  background-color: black;
  color: white;
  padding: 12px 30px;
  font-size: 13px;
  border: none;
}
.infoBox button:hover{
  background-color: grey;
}

.infoBox img{
  height: 30px;
  margin: 20px 0 20px 0;
  display: inline-block;
}

/* /ContactUs */

/* ContactScheme */

#fcf-form {
  display:block;
}

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  max-width: 100%;
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
  height: auto;
}

textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.fcf-btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
      transition: none;
  }
}

.fcf-btn:hover {
  color: #212529;
  text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
  color: black;
  background-color: #faf1f0;
  border-color: #B49D9D;
}

.fcf-btn-primary:hover {
  color: black;
  background-color: #B49D9D;
  border-color: #faf1f0;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
  color: black;
  background-color: #B49D9D;
  border-color: #B49D9D;
  box-shadow: 0 0 0 0.2rem rgba(112, 112, 112, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.fcf-btn-block {
  display: block;
  width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
  margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
  width: 100%;
}

/* /ContactScheme */