body {
    width: 80%;
    height: 90%;
    margin: 0 auto; /*centers body*/
    background-color:#faf1f0;
    font-family: Georgia, serif;;
    }

   figure {
    text-align: center;
    margin: 0 auto; /*centers body*/
    margin-top: 10px;
    margin-bottom:10px;
   }

   section {
   padding-left: 40px;
   padding-right: 40px;
   margin-bottom:20px;
   }

   h1, h2, h3 {
     font-family: Georgia, serif;

   }

   .abouth1 {
    font-weight: lighter;
    text-align: center;
    display:block;
    margin-right: 10%;
   }

   .aboutbox {
     width: 100%;
     padding: 20px;
     margin: 5% 0% 0% 0%;
     height: 400%;
     background-color: white;
     position: relative;
   }

   .aboutbar {
    width: 100px;
    height: 90%;
    margin-bottom: 5%;
    background-color: #faf1f0;
    display: inline-block;
    position:absolute;

    line-height: 2.2;

   }

   .aboutbar a {
     text-decoration: none;
     color: black;
     margin-top: 10%;
     margin-left: 5%;


   }
   a:hover{
    font-size: 105%;
  }


   hr {
     background-color: grey;
     border: none;
     height: 0.8px;
   }

   .productText {
    width: 50%;
    padding: 20px;
    margin: 20px;
    height: 50%;
    font-weight: lighter;
    text-align: left;
    margin: auto;
    line-height: 1.7;
   }


   ul {
     padding-left: 18px;
   }

  /* It only applies to the list items that are the pages */
  section>ol>li {
      margin-bottom: 15px;
  }
  section>ul>li {
    list-style-type:circle;
}

  .title{
      display: block;
      margin-bottom: 10px;
  }
  .header{
    height: 18ch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#faf1f0;

  }
  .left-header{
    width: 22%;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  .center-header{
    width: 50%;

  }
  .right-header{
    width: 22%;
    height: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;

  }
  .headerlink{
    text-decoration: none;
    color: grey;
    font-size: 1.3rem;
    transition: all 500ms;


  }
  .logo{
    max-width: 400px;
  }

   footer {
    width: 130%;
    background-color: #B49D9D;
    position: relative;
    margin: 0% 0% 2% -15%;
    text-align: center;
   }

   .footerpic {
    width: 150px;

   }

/* ContactUs */


.iconBox{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.linkIcons img{
  height: 30px;
  margin: 0 20px 0 20px;
}

#contBorder p{
  color: rgb(180, 177, 177);
}


.contInfo{
  display: flex;
  justify-content: center;
}

.contInfoLR{
  padding: 20px;
  width: 50%;
  max-width: 350px;
}

.infoBox{
  text-align: center;
}
.infoBox p{
  text-align: left;
}
.infoBox button{
  text-align: center;
  background-color: black;
  color: white;
  padding: 12px 30px;
  font-size: 13px;
  border: none;
}
.infoBox button:hover{
  background-color: grey;
}

.infoBox img{
  height: 30px;
  margin: 20px 0 20px 0;
  display: inline-block;
}




















/* /ContactUs */

/* Shop */

.shopCategories {
  position: relative;
  margin-top: 70px;
  margin-bottom: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  text-align: justify;
  text-justify: distribute-all-lines;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.categoryLink {
  position: relative;
  color: inherit;
  text-decoration: none;
  width: 190px;
  height: 255px;

  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;

  margin: 20px;
}

.categoryLink:hover {
  font-size: initial;
}

.categoryLink img {
  position: relative;
  width: 100%;
  height: 100%;
}

.categoryLink div {
  position: absolute;
  background-color: rgba(180, 157, 157, 0.8);
  width: 100%;
  height: 40%;
  top: 60%;

  text-align: center;
  line-height: 4;
}


/* /Shop */